* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font: normal 16px Arial, Helvetica, sans-serif;
    background-color: rgb(33, 36, 37);
    line-height: 1.4em;
    color: #f5efefe3;
  }

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.background-image {
    background-image: url('../images/darksky.jpg');
    background-color: #232a2e;
    min-height: 250px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.background-content {
    display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    color: #fff;
}
.background-content h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}
.background-content p {
    font-size: 1.5rem;
}

.container {
    margin-top: 2rem;
}
.btn {
    background-color: #A52422;
    border-color: #A52422;
    color: #fff;
}
.btn:hover {
    opacity: 0.6;
    background-color: none;
    border-color: none;
}

.btn:active, .btn:focus {
    outline: none;
    border: none;
}

#history input {
    text-transform: capitalize;
}
.search-header {
    margin-top: 1rem;
    color: #232a2e;
    padding-bottom: 0.2rem;
}
.card-background {
    background-color: #c5d5e499;
    border-color: #c5d5e499;
    color: #fff;
}
.forecast-date {
    text-align: center;
}

.m-3 {
    margin-top: 0!important;
}
.main-box {
    background-color: #aabdced4;
    border-color: #aabdced4;
}
.button-space {
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
}
.form-control {
    margin-bottom: 1rem;
}